[user]
	email = alex@toastercup.io
	name = Alex Tharp
[core]
	excludesfile = /home/alex/.gitignore_global
	autocrlf = input
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	trustExitCode = false
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	trustExitCode = false
[alias]
	uncommit = reset --soft HEAD^
	unstage = reset
	search = log -p -G
	b = ! git checkout $(git more-recent-branches | fzf --preview 'git log {} --stat | head -n 100')
	more-recent-branches = for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/
[grep]
	lineNumber = true
[pull]
	ff = only
