[user]
	email = alex@toastercup.io
	name = Alex Tharp
[core]
	excludesfile = /home/atharp/.gitignore_global
	autocrlf = input
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	trustExitCode = false
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	trustExitCode = false
[color]
	ui = true
[alias]
	uncommit = reset --soft HEAD^
	unstage = reset
